/* FlexBox */
.flex{
    display: flex;
}

.flexcol{
    display: flex;
    flex-direction: column;
}

.flexrow{
    display: flex;
    flex-direction: row;
}


/* Spacing */
.spacebetween{
    justify-content: space-between;
    align-items: center;
}
.leftalign {
    float: left;
}
.rightalign{
    float: right;
}

.links{
    text-decoration: none;
}

.links:link, .links:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
  }
  
  .links:hover, .links:active {
    background-color: rgb(159, 190, 236);
  }