.page{
    position: relative;
    
    display: flex;
        justify-content: center;
        align-items: center;

    width: 100vw;
    height: 100vh;
}

#landing{
    color: white;
    
    background-image: url("../../public/_A636985.JPG");
    background-size: cover;
    background-color: transparent;
    
    width: 100%;
    height: 100%;   
    
}

.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

#maincontent{
    position: absolute;

    color: white;
    
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    width: 60%;
    height: 100%;

    z-index: 2;
}
#maincontent h1{
    font-size: 100px;
}
